/* --- STYLES --- */

/* --- GENERAL --- */

/* --- HEADER --- */
header {
	margin-top: 30px;
}

header .nav {
	min-height: 80px;
	overflow: hidden;
	background: #fff;
}

/* --- LOGO --- */
header .logo h2,
header .logo-img,
header .logo span,
header .t-logo p {
	font-family: 'Indie Flower', cursive;    
  font-weight: 400;
  font-size: 25px;
  display: inline-block;	
	margin:0;
}

.t-logo
{
  color: #508628;
  font-family: 'Indie Flower', cursive;    
  font-weight: 400;
  font-size: 25px;
  display: inline-block;  
  margin:0;
}
header .logo h2 {
	font-weight: 400;
	text-transform: uppercase;
}
.icono {
  height: 20px;
  width: 25px;
  padding-right: 7px;  
  padding-bottom: 3px;
}

header .logo-img {
    width: 35%;
    height: 100%;
}

header .t-logo p {
	color: #508628;
}

/* --- MENU --- */
header .menu {
	padding: 0;
}

header .menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0 30px;
}

header .menu a div span {
	font-weight: 200;
}

header .menu .c-1 {background: #e63f43;}
header .menu .c-2 {background: #66BB6A;}
header .menu .c-3 {background: #508628;}

header .menu .c-1:hover {background: #d93b3f;}
header .menu .c-2:hover {background: #4CAF50;}
header .menu .c-3:hover {background: #477724;}

/* --- HEADER-FONT --- */
.p-corazon {	
	color: #e63f43;
}

.p-sandia {
	margin-left: 10px;
	color: #508628;
}

.h-pub {
	font-family: 'Indie Flower', cursive;    
	font-size: 18px;
}

/* --- Media Queries HEADER .. */
/*X-Large*/
@media screen and (max-width: 1199px) {}
/*Large*/
@media screen and (max-width: 991px) {
    .logo {
        height: 76px;
    }
    .t-logo {
        margin-top: 35px;
        height: 55px;
    }
    .menu {
        min-height: 76px;
    }
    .menu a {
        width: 100%;
    }
    .menu a div {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
  .t-logo {
        display: none;
    }
}
/* --- NAVBAR --- */
.navbar {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* --- CAROUSEL --- */

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-caption h1,
.carousel-caption p{
  font-family: 'Indie Flower', cursive;
}

.carousel-item {
  height: 22rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 22rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/* FREE CONTENT */
.free {
    background: #fff;    
}
.promo p{
    font-family: 'Indie Flower', cursive; 
    font-weight: 400;
    color: #8bce72;
}
/* Center align the text within the 3 columns below the carousel */
.free .col-lg-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.free h2 {
  font-family: 'Indie Flower', cursive; 
  font-weight: 400;
}
.free .col-lg-4 p {
  font-family: 'Indie Flower', cursive; 
  margin-right: .75rem;
  margin-left: .75rem;
}

/* CARD ARREGLO*/
.card-arr {
    background: #f04247;
    padding: 20px 20px 20px 20px;
}
.col-arr {
    margin-bottom: 20px;
}
.buy {
    background: #66BB6A;
    font-family: 'Indie Flower', cursive;
    border: none;
    padding: 7px 30px;
    color: #fff;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}
.buy:hover {
    background: #4CAF50;
}
.buy:active,
.buy:focus {
    background: #477724;
}
.card-title {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}
.card-text {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}
/* --- CONTACT --- */
.contact  {
    background: #f8f8f8;
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    margin-bottom: 40px;
}
.contact .t-contact {
    color: #003855;
    font-family: 'Indie Flower', cursive; 
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.contact .form-group{
    margin-bottom: 0;
}
.f-form input[type="text"],
.f-form input[type="email"],
.f-form textarea {
    padding: 15px;
    border: none;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 30px;
}
.f-form textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}
.f-form .b-button {
    background: #66BB6A;
    font-family: 'Indie Flower', cursive;
    border: none;
    padding: 7px 30px;
    color: #fff;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}
.f-form .b-button:hover {
    background: #4CAF50;
}

/* --- FOOTER --- */

#myFooter{
    padding-top:32px;
}

#myFooter .container{
    text-align: center;
}

#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #777;
}

#myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter a{
    color: #282b2d;
    font-size: 18px;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .footer-social{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e63f43;
}

#myFooter .fa{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
   color: #e63f43;
}

/* --- PAGES --- */

/* --- INDEX --- */
.promo-i h2,
.promo-i p{
  color: #1B5E20;
}

.i-fav-arr p {
  color: #1B5E20;
}
#buy-method .card-header {
  background: #508628;
  text-align: center;
}

#buy-method .card-header a{  
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;  
}
#buy-method .modal-title {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 25px;
  color: #1B5E20;
}

#buy-method .modal-body {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 20px;
  color: #1B5E20;
}
/* --- ABOUT ---*/

.divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {  
  font-family: 'Indie Flower', cursive; 
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.05rem;
}
.mision {
color: #e63f43;
}
.vision {
color: #508628;
}
.featurette p {
  color: #1B5E20;
  text-align: justify;
  font-family: 'Indie Flower', cursive; 
  font-weight: 400;
}
/* Media Queries About*/
@media (min-width: 40em) {  
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* --- CONTACT --- */
.cont-promo {
    background: #fff;    
}
.cont-promo .col-lg-5 {    
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;  
  text-align: center;
}
.cont-promo h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive; 
  font-weight: 400;
}
.cont-promo .col-lg-5 p {
  text-align: center;
  font-family: 'Indie Flower', cursive; 
  margin-right: .25rem;
  margin-left: .25rem;
}
.ci-1 {
  background: #e63f43;
  color: #fff;
  font-size: 25px;
  text-align: center;  
}
.ci-1 a {
  text-decoration: none;
  color: #fff;
}
.ci-2 {
  background: #66BB6A;  
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.ci-3 {
  background: #508628;  
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.mapi {
  background: #e63f43;
}
.mapi-sec {
  background: #f8f8f8;
}

#map {
    height: 250px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
#map1 {
    height: 250px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.i-loc {
  height: 30px;
  width: 30px;  
}

/* --- FaQ --- */
.t-question{
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  color: #1B5E20;
}

#questions .card-header {
  background: #e63f43;
}

#questions .card-header a{  
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
}

#questions .question{
  color: #1B5E20;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-weight: 400;
}